/* Fonts */
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.otf") format("opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.otf") format("opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg"); }

/* Header */
.main-head {
  height: 80px;
  width: 100%;
  background-color: #f2f1f1; }
  @media (max-width: 767px) {
    .main-head {
      height: 55px; } }

.sub-menu-btn {
  float: left;
  font-size: 28px;
  text-align: center;
  line-height: 80px; }
  .sub-menu-btn__wrapper {
    width: 85px;
    height: auto;
    background-color: #86d97f; }
    @media (max-width: 767px) {
      .sub-menu-btn__wrapper {
        height: 55px;
        line-height: 55px; } }
    .sub-menu-btn__wrapper:hover {
      background-color: #73d36b;
      cursor: pointer; }
  .sub-menu-btn__icon {
    color: #fff; }

.logo {
  float: left;
  line-height: 80px; }
  .logo img {
    margin-left: 40px; }
    @media (max-width: 1200px) {
      .logo img {
        margin-left: 40px; } }
    @media (max-width: 991px) {
      .logo img {
        margin-left: 0; } }
    @media (max-width: 767px) {
      .logo img {
        margin-left: 12px; } }

.top-menu {
  display: inline-block;
  line-height: 80px; }
  @media (max-width: 767px) {
    .top-menu {
      display: none; } }
  .top-menu__item {
    display: inline-block;
    font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
    font-size: 18px;
    margin-right: 30px; }
    .top-menu__item:first-child {
      margin-left: 50px; }
      @media (max-width: 1999px) {
        .top-menu__item:first-child {
          margin-left: 65px; } }
      @media (max-width: 991px) {
        .top-menu__item:first-child {
          margin-left: 0; } }
    .top-menu__item a:link {
      color: #2d2d2d;
      text-decoration: none; }
    .top-menu__item a:hover {
      color: #9c3b3b; }

.main-search {
  line-height: 80px;
  text-align: right; }
  .main-search__wrapper {
    width: 100px;
    float: right; }
    @media (max-width: 370px) {
      .main-search__wrapper {
        width: 45px; } }
  .main-search button.main-search__btn {
    font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
    color: #2d2d2d;
    border: none;
    outline: none;
    background: none;
    font-size: 18px; }
    @media (max-width: 370px) {
      .main-search button.main-search__btn {
        display: none; } }
    .main-search button.main-search__btn:hover {
      color: #9c3b3b; }
  .main-search .main-search__icon {
    font-size: 20px;
    color: #919191; }
    @media (max-width: 370px) {
      .main-search .main-search__icon {
        font-size: 24px; } }
    @media (max-width: 767px) {
      .main-search .main-search__icon {
        margin-right: 10px; } }

/* About Short */
.about-short {
  padding-top: 55px; }
  .about-short__divider {
    margin-top: 40px;
    height: 0;
    background-color: none;
    border: 0;
    border-bottom: medium double #e0dada; }
    @media (max-width: 991px) {
      .about-short__divider {
        margin-top: 20px; } }
    @media (max-width: 767px) {
      .about-short__divider {
        margin-top: 45px; } }
  .about-short__text {
    font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
    font-size: 18px;
    color: #2d2d2d;
    line-height: 1.7;
    height: 174px;
    overflow: hidden; }
    @media (max-width: 767px) {
      .about-short__text {
        text-align: center;
        padding: 0 20px;
        line-height: 1.5;
        height: auto; } }
  .about-short__avatar {
    margin-bottom: 20px; }
    .about-short__avatar img {
      width: 180px;
      max-width: 180px;
      height: auto; }
      @media (max-width: 767px) {
        .about-short__avatar img {
          width: 130px; } }
  @media (min-width: 1200px) {
    .about-short {
      padding-right: 20px; } }

/* Random Recipe */
.random-recipe {
  padding-top: 55px; }
  @media (max-width: 1199px) {
    .random-recipe {
      padding-top: 0; } }
  .random-recipe__btn-area {
    top: 100%;
    height: 135px;
    border: 5px solid #f2f1f1; }
    @media (max-width: 991px) {
      .random-recipe__btn-area {
        height: 120px; } }
    @media (max-width: 767px) {
      .random-recipe__btn-area {
        height: 70px;
        border: 0; } }
    @media (min-width: 1200px) {
      .random-recipe__btn-area {
        height: 127px; } }
  .random-recipe__btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-shadow: 0 3px 0 0 #57a751;
            box-shadow: 0 3px 0 0 #57a751;
    font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 14px 60px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background: none;
    background-color: #66b260;
    border: none;
    outline: none;
    margin-top: 32px; }
    .random-recipe__btn:hover {
      background-color: #5cad56;
      -webkit-box-shadow: 0 3px 0 0 #56a44f;
              box-shadow: 0 3px 0 0 #56a44f; }
    .random-recipe__btn:active {
      -webkit-box-shadow: none;
              box-shadow: none;
      -webkit-transform: translateY(1px);
          -ms-transform: translateY(1px);
              transform: translateY(1px);
      -webkit-box-shadow: 0 2px 0 0 #56a44f;
              box-shadow: 0 2px 0 0 #56a44f; }
    @media (max-width: 991px) {
      .random-recipe__btn {
        margin-top: 25px;
        padding-left: 20px;
        padding-right: 20px; } }
    @media (max-width: 767px) {
      .random-recipe__btn {
        margin-top: 0; } }
    @media (min-width: 1200px) {
      .random-recipe__btn {
        margin-top: 28px;
        padding: 15px 45px; } }
  .random-recipe__heading p {
    font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
    font-size: 24px;
    color: #888;
    color: #2d2d2d;
    margin-top: 40px;
    margin-bottom: 40px; }
    @media (max-width: 767px) {
      .random-recipe__heading p {
        text-align: center; } }
    @media (min-width: 1200px) {
      .random-recipe__heading p {
        margin-top: 0;
        margin-bottom: 15px; } }

.food-pic {
  margin-top: 10px; }
  @media (max-width: 991px) {
    .food-pic {
      width: 100%;
      height: auto;
      margin-top: 15px; } }
  @media (max-width: 767px) {
    .food-pic {
      display: none; } }
  @media (min-width: 1200px) {
    .food-pic {
      display: none; } }

/* My Recipes */
.my-recipes {
  padding-top: 40px; }
  @media (max-width: 767px) {
    .my-recipes {
      padding-top: 30px; } }
  .my-recipes__header {
    margin-bottom: 35px;
    font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
    font-size: 30px;
    color: #2d2d2d; }
    @media (max-width: 767px) {
      .my-recipes__header {
        text-align: center; } }
  .my-recipes .pagination {
    margin-bottom: 50px; }
    .my-recipes .pagination a, .my-recipes .pagination a:link {
      font-size: 16px; }
    @media (max-width: 767px) {
      .my-recipes .pagination {
        margin-bottom: 20px; } }

.recipe-item {
  width: 100%;
  margin-bottom: 30px; }
  .recipe-item__footer-number {
    margin-top: 2px; }
  .recipe-item__img img {
    width: 100%;
    height: auto; }
  .recipe-item__content {
    padding: 26px 32px;
    background-color: #f9f9f9; }
    .recipe-item__content__header {
      font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
      font-size: 24px;
      color: #2d2d2d;
      height: 50px;
      line-height: 1.2;
      margin-bottom: 20px;
      margin-top: 0;
      overflow: hidden; }
      .recipe-item__content__header h3 a {
        color: #2d2d2d; }
        .recipe-item__content__header h3 a:hover {
          text-decoration: none; }
    .recipe-item__content__short-text {
      font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
      font-size: 16px;
      color: #919191;
      line-height: 1.4;
      height: 86px;
      overflow: hidden; }
    .recipe-item__content__footer {
      margin-top: 18px;
      height: 30px;
      font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
      font-size: 16px;
      color: #2d2d2d; }
      .recipe-item__content__footer__ing {
        float: left;
        width: 100px;
        display: inline-block;
        border-bottom: 1px dashed #896262; }
        .recipe-item__content__footer__ing:hover {
          border: none; }
        .recipe-item__content__footer__ing a {
          font-size: 18px;
          color: #896262;
          font-size: 16px;
          text-decoration: none; }
      .recipe-item__content__footer__comments {
        float: right;
        text-align: right;
        width: 60px;
        padding: 0; }
        .recipe-item__content__footer__comments .comments-icon {
          margin-right: 4px;
          margin-bottom: 2px;
          background-image: url("../img/buble-comments-icon.png");
          background-repeat: no-repeat;
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px; }
      .recipe-item__content__footer__rate {
        text-align: right;
        float: right; }
        .recipe-item__content__footer__rate .rate-icon {
          background-image: url("../img/heart-icon.png");
          background-repeat: no-repeat;
          display: inline-block;
          vertical-align: middle;
          margin-bottom: 3px;
          width: 24px;
          height: 17px; }

.footer {
  padding-top: 84px;
  background-color: #f2f1f1;
  height: 500px; }
  @media (max-width: 991px) {
    .footer {
      padding-top: 60px;
      height: 450px; } }
  @media (max-width: 767px) {
    .footer {
      display: none; } }
  @media (max-width: 991px) {
    .footer__col .col__insta-widget {
      display: none; } }
  .footer__col .list__items {
    width: 300px; }
    .footer__col .list__items li {
      padding-bottom: 18px; }
      .footer__col .list__items li i {
        margin-right: 10px;
        color: #896262; }
      .footer__col .list__items li a {
        height: 50px;
        overflow: hidden;
        color: #896262;
        text-decoration: underline; }
        .footer__col .list__items li a:hover {
          text-decoration: none; }
  .footer__col__header {
    font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
    font-size: 18px;
    color: #2d2d2d;
    text-transform: uppercase;
    padding-bottom: 43px; }

.footer-bootom-part {
  background-color: #413a3a;
  height: 100px;
  line-height: 100px; }
  @media (max-width: 767px) {
    .footer-bootom-part {
      height: 60px;
      line-height: 60px; } }
  .footer-bootom-part .bottom-part__copy {
    color: #f9f9f9;
    font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
    font-size: 16px;
    color: #e0dada; }
  .footer-bootom-part .bottom-part__social-btn {
    font-size: 28px; }

.drop-down-top-menu {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 78px;
  background-color: #86d97f;
  z-index: 999; }
  @media (max-width: 767px) {
    .drop-down-top-menu {
      top: 55px; } }
  .drop-down-top-menu__header {
    line-height: 78px;
    font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
    font-size: 20px;
    color: #2d2d2d; }
    @media (max-width: 767px) {
      .drop-down-top-menu__header {
        display: none; } }
  .drop-down-top-menu__content {
    background-color: #413a3a; }
    @media (max-width: 767px) {
      .drop-down-top-menu__content {
        padding: 0 10px; } }

.drop-down-top-menu__content {
  padding-top: 50px;
  padding-bottom: 35px; }
  @media (max-width: 767px) {
    .drop-down-top-menu__content {
      padding-top: 20px;
      padding-bottom: 20px; } }

.top-menu__content__category-item {
  padding-bottom: 26px; }
  @media (max-width: 767px) {
    .top-menu__content__category-item {
      padding-bottom: 18px; } }
  .top-menu__content__category-item__list {
    line-height: 1.3; }
  .top-menu__content__category-item__list li {
    display: inline;
    font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
    font-size: 16px;
    color: #888; }
    .top-menu__content__category-item__list li a, .top-menu__content__category-item__list li a:link, .top-menu__content__category-item__list li a:active {
      color: #a49999;
      text-decoration: none; }
    .top-menu__content__category-item__list li a:hover {
      color: #d9d4d4;
      text-decoration: underline; }
  .top-menu__content__category-item__header {
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    color: #e0dada; }
    @media (max-width: 767px) {
      .top-menu__content__category-item__header {
        margin-bottom: 5px; } }

/* Bread Crumbs */
.bread-crumbs {
  padding-top: 44px;
  padding-bottom: 60px; }
  @media (min-width: 1200px) {
    .bread-crumbs .col-lg-12, .bread-crumbs .col-lg-11 {
      padding-left: 0; } }
  @media (max-width: 991px) {
    .bread-crumbs {
      padding-bottom: 30px; } }
  .bread-crumbs__list {
    background-color: #f9f9f9;
    padding: 5px 20px 8px 20px;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
  .bread-crumbs__list li {
    display: inline-block;
    margin-right: 13px; }
    .bread-crumbs__list li a {
      color: #787878;
      font-size: 16px;
      text-decoration: underline; }
      .bread-crumbs__list li a:hover {
        text-decoration: none; }
    .bread-crumbs__list li:after {
      display: inline-block;
      content: "/";
      margin-left: 15px; }
    .bread-crumbs__list li:last-child:after {
      display: inline-block;
      content: ""; }

.one-recipe-content .container {
  padding-right: 0;
  padding-left: 0; }

@media (min-width: 1200px) {
  .one-recipe-content .col-lg-1 {
    width: 100px; } }

.recipe-description.col-lg-8 {
  padding-left: 0; }

.recipe-description__text {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #2d2d2d; }

.recipe-description__header {
  font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
  font-size: 30px;
  color: #2d2d2d;
  margin-bottom: 42px; }

.recipe-description__img img {
  width: 100%;
  height: auto; }

@media (max-width: 991px) {
  .recipe-description__step {
    padding-bottom: 10px; } }

.recipe-description__step-description {
  color: #2d2d2d;
  margin-bottom: 30px; }

@media (max-width: 991px) {
  .recipe-description__date {
    padding-bottom: 10px; } }

@media (min-width: 1200px) {
  .recipe-description__date.col-lg-1, .recipe-description__step.col-lg-1 {
    padding-right: 20px;
    padding-left: 0;
    font-size: 16px;
    border-right: 1px solid #c4c4c4;
    text-align: right; } }

.ingridients-wrapper {
  margin-bottom: 30px; }

.sidebar__ingridients {
  background: #f3ebdf;
  padding: 25px 35px;
  color: #474747;
  font-size: 16px; }
  .sidebar__ingridients .ingridients__header {
    font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
    font-size: 20px;
    color: #3a3a3a;
    margin-bottom: 10px; }
  .sidebar__ingridients .ingridients__list {
    line-height: 1.7; }
  @media (max-width: 991px) {
    .sidebar__ingridients {
      font-size: 14px; } }
  @media (max-width: 767px) {
    .sidebar__ingridients {
      font-size: 16px; } }

.sidebar__widget {
  background: #f9f9f9;
  padding: 25px 35px;
  margin-bottom: 30px; }
  .sidebar__widget__header {
    font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
    font-size: 20px;
    color: #3a3a3a;
    margin-bottom: 10px; }
  .sidebar__widget__list li {
    margin-bottom: 10px;
    line-height: 1.3; }
    .sidebar__widget__list li a {
      font-size: 18px;
      color: #896262;
      font-size: 16px;
      text-decoration: underline; }

.sidebar__top-decor {
  background: url(../img/ingr-top.png) repeat-x 0 0;
  height: 6px; }

.one-recipe-footer {
  padding: 20px 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #f9f9f9;
  color: #2d2d2d; }
  .one-recipe-footer__tags {
    float: left; }
    .one-recipe-footer__tags__list:before {
      font-family: "FontAwesome";
      font-size: 14px;
      content: "\f02b";
      color: #919191;
      margin-right: 10px; }
    .one-recipe-footer__tags__list li {
      display: inline-block;
      margin-right: 10px; }
    .one-recipe-footer__tags a {
      color: #66b260;
      font-size: 16px;
      text-decoration: underline; }
      .one-recipe-footer__tags a:hover {
        text-decoration: none; }
  .one-recipe-footer__comments {
    width: 70px;
    float: right;
    text-align: right; }
    .one-recipe-footer__comments i {
      color: #919191;
      margin-right: 10px; }
  .one-recipe-footer__rate {
    text-align: right;
    width: 70px;
    float: right; }
    .one-recipe-footer__rate i {
      color: #e64545;
      margin-right: 10px; }

.share-btn-section {
  border: 3px solid #f9f9f9;
  height: 110px;
  margin-bottom: 60px; }
  .share-btn-section p {
    color: #2d2d2d;
    margin-top: 15px;
    margin-bottom: 7px; }
  .share-btn-section .share-btn-wrapper img {
    margin-right: 10px; }

.comments-section {
  margin-bottom: 100px; }

.comments-section h2 {
  font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
  font-size: 28px;
  color: #2d2d2d;
  margin-bottom: 50px; }

.single-comment {
  background-color: #f9f9f9;
  margin-bottom: 30px;
  position: relative;
  padding: 25px 0; }
  .single-comment__like-icon {
    position: absolute;
    top: -18px;
    left: -18px;
    background-color: #e64545;
    color: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px; }
  .single-comment__unlike-icon {
    position: absolute;
    top: -18px;
    left: -18px;
    background-color: #919191;
    color: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px; }
  .single-comment__avatar {
    margin-left: 10px; }
  .single-comment__content {
    font-size: 16px; }
    .single-comment__content .single-comment-date {
      padding-bottom: 10px; }
    .single-comment__content .single-comment-text {
      color: #2d2d2d; }

body {
  min-width: 320px;
  font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
  font-size: 18px;
  color: #888; }

h3 {
  font-size: 24px;
  padding: 0;
  margin: 0; }

.hidden {
  display: none; }

.visible {
  display: block; }

.gutter-0.row {
  margin-right: 0;
  margin-left: 0; }

.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"] {
  padding-right: 0;
  padding-left: 0; }

.db {
  outline: 1px solid red; }

.sticky {
  position: fixed;
  z-index: 101; }

.stop {
  position: relative;
  z-index: 101; }
