/* Fonts */
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.otf") format("opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.otf") format("opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg"); }

/* Header */
.main-head {
  height: 80px;
  width: 100%;
  margin-bottom: 55px;
  background-color: #f2f1f1; }
  @media (max-width: 767px) {
    .main-head {
      background-color: #86d97f;
      height: 55px; } }

.sub-menu-btn {
  float: left;
  font-size: 28px;
  text-align: center;
  line-height: 80px; }
  .sub-menu-btn__wrapper {
    width: 85px;
    height: auto;
    background-color: #86d97f; }
    @media (max-width: 767px) {
      .sub-menu-btn__wrapper {
        height: 55px;
        line-height: 55px; } }
  .sub-menu-btn__icon {
    color: #fff; }

.logo {
  float: left;
  line-height: 80px; }
  .logo img {
    margin-left: 40px; }
    @media (max-width: 1200px) {
      .logo img {
        margin-left: 40px; } }
    @media (max-width: 991px) {
      .logo img {
        margin-left: 0; } }
    @media (max-width: 767px) {
      .logo img {
        margin-left: 28px; } }

.top-menu {
  display: inline-block;
  line-height: 80px; }
  @media (max-width: 991px) {
    .top-menu {
      display: none; } }
  .top-menu__item {
    display: inline-block;
    font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
    font-size: 18px;
    margin-right: 30px; }
    .top-menu__item:first-child {
      margin-left: 50px; }
    .top-menu__item a:link {
      color: #2d2d2d;
      text-decoration: none; }

.main-search {
  line-height: 80px;
  text-align: right; }
  .main-search__wrapper {
    width: 100px;
    float: right; }
    @media (max-width: 370px) {
      .main-search__wrapper {
        width: 45px; } }
  .main-search button.main-search__btn {
    font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
    color: #2d2d2d;
    border: none;
    outline: none;
    background: none;
    font-size: 18px; }
    @media (max-width: 370px) {
      .main-search button.main-search__btn {
        display: none; } }
  .main-search .main-search__icon {
    font-size: 20px;
    color: #919191; }
    @media (max-width: 370px) {
      .main-search .main-search__icon {
        font-size: 24px; } }

/* About Short */
.about-short__divider {
  margin-top: 55px;
  height: 0;
  background-color: none;
  border: 0;
  border-bottom: medium double #e0dada; }

.about-short__text {
  font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
  font-size: 18px;
  color: #2d2d2d;
  line-height: 1.7; }

/* Random Recipe */
.random-recipe {
  padding-top: 35px; }
  .random-recipe__btn-area {
    height: 135px;
    border: 5px solid #f2f1f1; }
  .random-recipe button {
    font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 14px 60px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background: none;
    background-color: #66b260;
    border: none;
    outline: none;
    margin-top: 32px; }
  .random-recipe__heading p {
    font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
    font-size: 24px;
    color: #888;
    color: #2d2d2d;
    margin-bottom: 40px; }

.food-pic {
  margin-top: 10px; }

/* My Recipes */
.my-recipes {
  padding-top: 60px; }
  .my-recipes__header {
    margin-bottom: 35px;
    font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
    font-size: 30px;
    color: #2d2d2d; }
  .my-recipes .pagination {
    margin-bottom: 50px; }
    .my-recipes .pagination a, .my-recipes .pagination a:link {
      font-size: 16px; }

.recipe-item {
  width: 100%;
  margin-bottom: 30px; }
  .recipe-item__footer-number {
    margin-top: 2px; }
  .recipe-item__img img {
    width: 100%;
    height: auto; }
  .recipe-item__content {
    padding: 26px 32px;
    background-color: #f9f9f9; }
    .recipe-item__content__header {
      font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
      font-size: 24px;
      color: #2d2d2d;
      height: 50px;
      line-height: 1.2;
      margin-bottom: 20px;
      margin-top: 0;
      overflow: hidden; }
    .recipe-item__content__short-text {
      font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
      font-size: 16px;
      color: #919191;
      line-height: 1.4;
      height: 86px;
      overflow: hidden; }
    .recipe-item__content__footer {
      margin-top: 18px;
      height: 30px;
      font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
      font-size: 16px;
      color: #2d2d2d; }
      .recipe-item__content__footer__ing {
        float: left;
        width: 100px;
        display: inline-block; }
        .recipe-item__content__footer__ing a {
          font-size: 18px;
          color: #2d2d2d;
          font-size: 16px; }
          .recipe-item__content__footer__ing a a:hover, .recipe-item__content__footer__ing a a:focus {
            color: #2d2d2d; }
      .recipe-item__content__footer__comments {
        float: right;
        text-align: right;
        width: 60px;
        padding: 0; }
        .recipe-item__content__footer__comments .comments-icon {
          margin-right: 4px;
          margin-bottom: 2px;
          background-image: url("../img/buble-comments-icon.png");
          background-repeat: no-repeat;
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px; }
      .recipe-item__content__footer__rate {
        text-align: right;
        float: right; }
        .recipe-item__content__footer__rate .rate-icon {
          background-image: url("../img/heart-icon.png");
          background-repeat: no-repeat;
          display: inline-block;
          vertical-align: middle;
          margin-bottom: 3px;
          width: 24px;
          height: 17px; }

.footer {
  padding-top: 84px;
  background-color: #f2f1f1;
  height: 500px; }
  .footer__col .list__items {
    width: 300px; }
    .footer__col .list__items li {
      padding-bottom: 18px; }
      .footer__col .list__items li i {
        margin-right: 10px;
        color: #896262; }
      .footer__col .list__items li a {
        height: 50px;
        overflow: hidden;
        color: #896262;
        text-decoration: underline; }
        .footer__col .list__items li a:hover {
          text-decoration: none; }
  .footer__col__header {
    font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
    font-size: 18px;
    color: #2d2d2d;
    text-transform: uppercase;
    padding-bottom: 43px; }

.footer-bootom-part {
  background-color: #484242;
  height: 100px;
  line-height: 100px; }
  .footer-bootom-part .bottom-part__copy {
    color: #f9f9f9;
    font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
    font-size: 16px;
    color: #e0dada; }
  .footer-bootom-part .bottom-part__social-btn {
    font-size: 28px; }

body {
  min-width: 320px;
  font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
  font-size: 18px;
  color: #888; }

h3 {
  font-size: 24px;
  padding: 0;
  margin: 0; }

.gutter-0.row {
  margin-right: 0;
  margin-left: 0; }

.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"] {
  padding-right: 0;
  padding-left: 0; }

.db {
  outline: 1px solid red; }
