.footer {
  padding-top: 84px;
  background-color: $main-grey;
  height: 500px;
  @media (max-width: 991px){
    padding-top: 60px;
    height: 450px;
  }
  @media (max-width: 767px){
    display: none;
  }
  &__col {
    .col__insta-widget {
      @media (max-width: 991px){
        display: none;
      }
    }
    .list__items {
      width: 300px;
      li {
        padding-bottom: 18px;
        i {
          margin-right: 10px;
          color: $light-brown;
        }
        a {
          height: 50px;
          overflow: hidden;
          color: $light-brown;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    &__header {
      @include proxima-b(18px, $main-black);
      text-transform: uppercase;
      padding-bottom: 43px;
    }
  }
}


.footer-bootom-part {
  background-color: $dark-brown;
  height: 100px;
  line-height: 100px;
  @media (max-width: 767px){
    height: 60px;
    line-height: 60px;
  }
  .bottom-part__copy {
    color: $light-grey;
    @include proxima-r(16px, $medium-grey);
  }
  .bottom-part__social-btn {
    font-size: 28px;
  }
}
