.ingridients {
  background: $beige;
  padding: 30px 35px;
  color: lighten($main-black, 10%);
  font-size: 16px;
  &__header {
    @include proxima-b(20px, lighten($main-black, 5%));
    margin-bottom: 10px;
  }
  &__list {
    line-height: 1.7;
  }
}
