// Fonts

@mixin proxima-r($size: 18px, $color: #888) {
  font: {
    family: 'ProximaNova-Regular', Helvetica, sans-serif;
    size: $size;
  }
  color: $color;
  line-height: 1.7;
}

@mixin proxima-b($size: 18px, $color: #fff) {
  font: {
    family: 'ProximaNova-Bold', Helvetica, sans-serif;
    size: $size;
  }
  color: $color;
  line-height: 1.7;
}

// UI

@mixin btn($color) {
  padding: 14px 60px;
  border-radius: 4px;
  background: none;
  background-color: $color;
  border: none;
  outline:none;
}

@mixin line-dashed($color){
  height: 0;
  background-color: none;
  border: 0;
  border-bottom: 1px dashed $color;
}

@mixin line-double($color){
  height: 0;
  background-color: none;
  border: 0;
  border-bottom: medium double $color;
}

@mixin line-solid($color){
  height: 0;
  background-color: none;
  border: 0;
  border-bottom: 1px solid $color;
}

@mixin link($size: 18px, $color: #0084e1) {
  font-size: $size;
  color: $color;
  margin: 0;
  padding: 0;
}
