/* My Recipes */

.my-recipes {
  padding-top: 40px;
  @media (max-width: 767px) {
    padding-top: 30px;
  }
  &__header {
    margin-bottom: 35px;
    @include proxima-b(30px, $main-black);
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  .pagination {
    margin-bottom: 50px;
    a, a:link {
      font-size: 16px;
    }
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
}

.recipe-item {
  width: 100%;
  margin-bottom: 30px;
  //box-shadow: 1px 1px 0 0 darken($light-grey, 6%);

  &__footer-number {
    margin-top: 2px;
  }
  //Картинка
  &__img {
    img {
      width: 100%;
      height: auto;
    }
  }
  //Содержание
  &__content{
    padding: 26px 32px;
    background-color: #f9f9f9;
    //Заголовок
    &__header{
      @include proxima-b(24px, $main-black);
      height: 50px;
      line-height: 1.2;
      margin-bottom: 20px;
      margin-top: 0;
      overflow: hidden;
      h3 a {
        color: $main-black;
        &:hover {
          text-decoration: none;
        }
      }
    }
    //Фрагмент текста
    &__short-text{
      @include proxima-r(16px, $dark-grey);
      line-height: 1.4;
      height: 86px;
      overflow: hidden;
    }
    //Повал
    &__footer{
      margin-top: 18px;
      height: 30px;
      //Ссылка ингридиенты
      @include proxima-r(16px, $main-black);
      &__ing {
        float: left;
        width: 100px;
        display: inline-block;
        border-bottom: 1px dashed $light-brown;
        &:hover {border: none;}
        a {
          @include link($color: $light-brown)
          font-size: 16px;
          text-decoration: none;
        }
      }
      //Иконка комментариев
      &__comments{
        float: right;
        text-align: right;
        width: 60px;
        padding: 0;
        .comments-icon {
            margin-right: 4px;
            margin-bottom: 2px;
            background-image: url('../img/buble-comments-icon.png');
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
          }
      }
      //Иконка рейтига
      &__rate{
        text-align: right;
        float: right;
        .rate-icon {
          background-image: url('../img/heart-icon.png');
          background-repeat: no-repeat;
          display: inline-block;
          vertical-align: middle;
          margin-bottom: 3px;
          width: 24px;
          height: 17px;
        }
      }
    }
  }
}
