/* My Recipes */

.my-recipes {
  padding-top: 35px;
  &__header {
    margin-bottom: 35px;
    @include proxima-b(30px, $main-black);
  }
}

.recipe-item {
  width: 100%;
  margin-bottom: 30px;

  // @media (min-width: 1200px) {
  //   width: 360px;
  // }
  &__footer-number {
    margin-top: 2px;
  }
  //Картинка
  &__img {
    img {
      width: 100%;
      height: auto;
    }
  }
  //Содержание
  &__content{
    padding: 26px 32px;
    background-color: #f9f9f9;
    //Заголовок
    &__header{
      @include proxima-b(24px, $main-black);
      height: 50px;
      line-height: 1.2;
      margin-bottom: 20px;
      margin-top: 0;
      overflow: hidden;
    }
    //Фрагмент текста
    &__short-text{
      @include proxima-r(16px, $dark-grey);
      line-height: 1.4;
      height: 86px;
      overflow: hidden;
    }
    //Повал
    &__footer{
      margin-top: 18px;
      height: 30px;
      //Ссылка ингридиенты
      @include proxima-r(16px, $main-black);
      &__ing {
        float: left;
        width: 100px;
        display: inline-block;
        a {
          @include link($color: $main-black)
          font-size: 16px;
          a:hover, a:focus {color: $main-black}
        }
      }
      //Иконка комментариев
      &__comments{
        float: right;
        text-align: right;
        width: 60px;
        padding: 0;
        .comments-icon {
            margin-right: 4px;
            margin-bottom: 2px;
            background-image: url('../img/buble-comments-icon.png');
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
          }
      }
      //Иконка рейтига
      &__rate{
        text-align: right;
        float: right;
        .rate-icon {
          background-image: url('../img/heart-icon.png');
          background-repeat: no-repeat;
          display: inline-block;
          vertical-align: middle;
          margin-bottom: 3px;
          width: 24px;
          height: 17px;
        }
      }
    }
  }
}
