.ingridients-wrapper {
  margin-bottom: 30px;
}
.sidebar {
  &__ingridients {
    background: lighten($beige, 5%);
    padding: 25px 35px;
    color: lighten($main-black, 10%);
    font-size: 16px;
    .ingridients__header {
      @include proxima-b(20px, lighten($main-black, 5%));
      margin-bottom: 10px;
    }
    .ingridients__list {
      line-height: 1.7;
    }
    // @media (max-width: 991px) {
    //   font-size: 14px;
    // }
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  &__widget {
    background: $light-grey;
    padding: 25px 35px;
    margin-bottom: 30px;
    //border: 3px solid darken($light-grey, 5%);

    &__header {
      @include proxima-b(20px, lighten($main-black, 5%));
      margin-bottom: 10px;
    }
    &__list li {
      margin-bottom: 10px;
      line-height: 1.3;
      a {
        @include link($color: $light-brown)
        font-size: 16px;
        text-decoration: underline;
      }
    }
  }
}

.sidebar.col-lg-4 {
  //padding-right: 0;
}

.sidebar__top-decor {
  background: url(../img/ingr-top.png) repeat-x 0 0;
  height: 6px;
}
