/* Random Recipe */

.random-recipe {
  padding-top: 35px;
  &__btn-area {
    height: 135px;
    border: 5px solid $main-grey;
  }
  button {
    @include proxima-b(20px);
    @include btn($dark-green)
    margin-top:32px;
  }
  &__heading p {
    @include proxima-r(24px);
    color: $main-black;
    margin-bottom: 40px;
  }
}

.food-pic {
  margin-top: 10px;
}
