//colors

$main-grey: #f2f1f1;
$dark-grey: #919191;
$medium-grey: #e0dada;
$light-grey: #f9f9f9;
$dark-green: #66b260;
$accent-green: #86d97f;
$main-black: #2d2d2d;
$dark-brown: #484242;
$bright-brown: #9c3b3b;
$light-brown: #896262;

//path

$dir: "../";
