.drop-down-top-menu {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 78px;
  background-color: $accent-green;
  z-index: 999;
  &__header {
    line-height: 78px;
    @include proxima-b(20px, $main-black);
  }
  &__content {
    background-color: $dark-brown;
  }
}

.drop-down-top-menu__content {
  padding-top: 50px;
  padding-bottom: 30px;
}

.top-menu__content__category-item {
  padding-bottom: 26px;

  &__list {
    line-height: 1.3;
  }

  &__list li {
    display: inline;
    @include proxima-r(16px);
    a, a:link, a:active {
      color: lighten($dark-brown, 36%);;
      text-decoration: none;
    }
    a:hover {
      color: lighten($dark-brown, 60%);
      text-decoration: underline;
    }
  }
  &__header {
    display: inline-block;
    margin-bottom: 10px;
    @include proxima-b(18px);
    color: $light-grey;
  }
}
