.recipe-item
  //-Picture
  .recipe-item__img
    img(src="img/recipe-pic.jpg", alt="Cacke")
  //-Content
  .recipe-item__content
    //-Header
    .recipe-item__content__header
      h3: a(href="one-recipe.html") Овощные оладьи из овощей с зеленью
    //-Short text
    .recipe-item__content__short-text
      p Ранним летом, когда на рынке овощей царит изобилие, хочется побаловать себя и близких облегченным в диетическом... плане кушаньем. К таковым можно отнести оладьи, приготовленные из кабачков, моркови или картофеля, а ещё и из молодой свекольной ботвы.
    //-Footer
    .recipe-item__content__footer.clearfix
      //-Link of ingridients
      .recipe-item__content__footer__ing
        a(href="#") Ингридиенты
      //-icon of comments
      .recipe-item__content__footer__comments
        .comments-icon
        span#recipe-item-num-comments.recipe-item__footer-number 34
      //-icon of rate
      .recipe-item__content__footer__rate
        .rate-icon
        span#recipe-item-num-like.recipe-item__footer-number 235
