.top-menu__content__category-item
  span.top-menu__content__category-item__header Первое блюдо
  ul.top-menu__content__category-item__list
    li: a(href="#") борщ
    li: a(href="#") бульон
    li: a(href="#") окрошка
    li: a(href="#") свекольник
    li: a(href="#") солянка
    li: a(href="#") суп
    li: a(href="#") уха
    li: a(href="#") борщ
    li: a(href="#") бульон
    li: a(href="#") окрошка
    li: a(href="#") свекольник
    li: a(href="#") солянка
    li: a(href="#") суп
    li: a(href="#") уха
    li: a(href="#") окрошка
    li: a(href="#") свекольник
    li: a(href="#") солянка
    li: a(href="#") суп
    li: a(href="#") уха
