.recipe-item
  //Картинка
  .recipe-item__img
    img(src="img/recipe-pic.jpg", alt="Cacke")
  //Содержание
  .recipe-item__content
    //Заголовок
    .recipe-item__content__header
      h3 Овощные оладьи из овощей с зеленью
    //Фрагмент текста
    .recipe-item__content__short-text
      p Ранним летом, когда на рынке овощей царит изобилие, хочется побаловать себя и близких облегченным в диетическом... плане кушаньем. К таковым можно отнести оладьи, приготовленные из кабачков, моркови или картофеля, а ещё и из молодой свекольной ботвы.
    //Подвал
    .recipe-item__content__footer.clearfix
      //Ссылка Ингридиенты
      .recipe-item__content__footer__ing
        a(href="#") Ингридиенты
      //Иконка комментариев
      .recipe-item__content__footer__comments
        .comments-icon
        span#recipe-item-num-comments.recipe-item__footer-number 34
      //Иконка рейтинга
      .recipe-item__content__footer__rate
        .rate-icon
        span#recipe-item-num-like.recipe-item__footer-number 235
