extends templates/page

block head
  title Cookybook | Оладьи из овощей
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  meta(charset="UTF-8")
  link(rel="stylesheet" href="css/font-awesome.css")
  link(rel="stylesheet" href="css/bootstrap.css")
  link(rel="stylesheet" href="css/reset.css")
  link(rel="stylesheet" href="css/main.css")

block append content
  //Bread crumbs
  section.bread-crumbs
    .container
      .row
        .col-lg-11.col-lg-offset-1.col-sm-12.col-xs-12
          ul.bread-crumbs__list
            li: a(href="index.html") Главная
            li: a(href="#") Повседневное меню
            li: a(href="#") Выпечка

  section.one-recipe-content
    .container
      .row.gutter-0
        //Detailed recipe
        .recipe-description.col-lg-8.col-sm-7
          .recipe-description__date.col-lg-1.col-sm-12.col-xs-12
            span#post-date 16 января
          .recipe-description__header.col-lg-10.col-sm-12.col-xs-12
            h1 Овощные оладьи из овощей с зеленью и подсолнечным маслом
          .col-lg-1
          .recipe-description__img.col-lg-10.col-sm-12.col-xs-12
            img(src="img/post-pic.jpg")
          .col-lg-1
          .recipe-description__text.col-lg-10.col-sm-12.col-xs-12
            p Ранним летом, когда на рынке овощей царит изобилие, хочется
              |побаловать себя и близких облегченным в диетическом... плане
              |кушаньем. К таковым можно отнести оладьи, приготовленные из
              |кабачков, моркови или картофеля, а ещё и из молодой свекольной ботвы.
          .recipe-description__step.col-lg-1.col-sm-12.col-xs-12
            span#recipe-step Шаг 1
          .recipe-description__step-description.col-lg-10.col-sm-12.col-xs-12
            p Берем промытую 1,5-литровую бутылку от минералки
              |(или любого напитка)
          .recipe-description__step.col-lg-1.col-sm-12.col-xs-12
            span#recipe-step Шаг 2
          .recipe-description__step-description.col-lg-10.col-sm-12.col-xs-12
            p Разводим сметану водой (чтобы было жидко)
          .recipe-description__step.col-lg-1.col-sm-12.col-xs-12
            span#recipe-step Шаг 3
          .recipe-description__step-description.col-lg-10.col-sm-12.col-xs-12
            p Все это кипятим на маленьком огоньке 5 -10 минут. Лучше под крышкой.

        //Sidebar
        .sidebar.col-lg-4.col-sm-5.col-xs-12
          #ingridients.ingridients-wrapper
            .sidebar__top-decor
            .sidebar__ingridients
              h3.ingridients__header Ингридиенты:
              ul.ingridients__list
                li Молоко — 600 мл
                li Масло растительное — 3 ст. л.
                li Яйцо куриное — 2 шт.
                li Сахар — 3 ст. л.
                li Соль — 0,5 ч. л.
                li Мука пшеничная — 10 ст. ложек
          .sidebar__widget.col-xs-12
            h3.sidebar__widget__header Возможно вам понравится
            ul.sidebar__widget__list
              li: a(href="#") Запеканка Пармантье со сладким картофелем
              li: a(href="#") Ажурные блины
              li: a(href="#") Львовский сырник
          .sidebar__widget.col-xs-12
            h3.sidebar__widget__header Возможно вам понравится
            ul.sidebar__widget__list
              li: a(href="#") Запеканка Пармантье со сладким картофелем
              li: a(href="#") Ажурные блины
              li: a(href="#") Львовский сырник

  section.one-recipe-content-footer
    .container
      //Footer
      .row.gutter-0
        .one-recipe-footer.col-lg-11.col-lg-offset-1.clearfix
          .one-recipe-footer__tags
            ul.one-recipe-footer__tags__list
              li: a(href="#") Завтрак
              li: a(href="#") Праздничное
              li: a(href="#") Мучное

          .one-recipe-footer__rate
            <i class="fa fa-heart" aria-hidden="true"></i>
            span#recipe-item-num-like.one-recipe-footer__rate__num 2

          .one-recipe-footer__comments
            <i class="fa fa-comment-o" aria-hidden="true"></i>
            span#recipe-item-num-comments.one-recipe-footer__comments__num 2
      //Share buttons
      .row.gutter-0
        .share-btn-section.col-lg-11.col-lg-offset-1
          p.text-center Поделиться с друзьями
          .share-btn-wrapper.col-lg-12.text-center
            img(src="img/odnoklassniki-icon.png")
            img(src="img/twitter-icon.png")
            img(src="img/facebook-icon.png")
  section.comments-section
    .container
      //Comments
      .row.gutter-0
        h2.comments-section__header.text-center Комментарии
        //Like comment
        .single-comment.col-lg-11.col-lg-offset-1
          .single-comment__like-icon 1
          .single-comment__avatar.col-lg-1
            img(src="img/ava-comment-1.png")
          .single-comment__content.col-lg-10
            .single-comment-date
              span#comment-date 28 марта 2016 г.
            .single-comment-text
              p замечательные сырники: быстро и безумно вкусно. Даже дочь, которая сырники не любит, съела с удовольствием. Я боялась, что без панировки будут прилипать, но они отлично снимались (жарила на чугунной сковороде). Манки и крахмала добавила чуть больше, но сырники получились нежнейшими. Огромное спасибо за рецепт.
        //Unlike comment
        .single-comment.col-lg-11.col-lg-offset-1
          .single-comment__unlike-icon -1
          .single-comment__avatar.col-lg-1
            img(src="img/ava-comment-2.png")
          .single-comment__content.col-lg-10
            .single-comment-date
              span#comment-date 28 марта 2016 г.
            .single-comment-text
              p КОШМАРНЫЕ СЫРНИКИ!!!Все сделала как указано ,консистенция хорошая получилась,начала жарить э,сырники благополучно прилипли к сковороде ,добавила масло.э,вроде стало получатся лучше. Сложила в сковородку залила сметаной ,получились очень жирные ,развалились. Ребенок вообще отказался есть муж сказал что больше таких "шедевров "не хочет пробовать.творог был домашний и сметана тоже ,так же как и яйца.обидно то что ,я не первый раз готовлю сырники ,но такого искусства не делала не когда





append footer

  script(src="js/libs.min.js")
  script(src="js/main.js")
