doctype html
html(lang="en")
  include ./includes/head.jade
  body
    header.main-head
      div.container
        div.row
          // Кнопка меню
          div.col-md-1.col-xs-12.col-sm-2.sub-menu-btn
            div.sub-menu-btn__wrapper
              i.fa.fa-bars.sub-menu-btn__icon(aria-hidden="true")
          // Логотип
          div.col-md-2.col-xs-8.col-sm-3.logo
            img(src='img/logo.png')
          // Меню
          nav.col-md-6.top-menu
            li.top-menu__item: a(href="my-tests.html") Затестим
            li.top-menu__item: a(href="my-tests.html") Обо мне
          // Поиск
          div.col-md-3.col-xs-4.col-sm-7.main-search
            div.main-search__wrapper
              i.fa.fa-search.main-search__icon(aria-hidden="true")
              button.main-search__btn Поиск
            
    
          
     script(src="src/libs/jquery/dist/jquery.min.js")
     script(src="src/libs/bootstrap/dist/js/bootstrap.min.js")    
  
  
