doctype html
html(lang="en")
  include ./includes/head.jade
  body
    p.text
      |Lorem ipsudm dolor sit amet, consectetur adipisicing elit. 
      |At vitae incidunt, sed dsaepe libero quocd, unde quas dicta veritatis 
      |molestiae cum laudantium autem doloribus atque quis ut nobis, 
      |nostrum iddn?

  
