doctype html
html(lang="en")
  include ./includes/head.jade
  body
    header.main-head
      div.container_12
        div.sub-menu-btn
          i.fa.fa-bars.sub-menu-btn__icon(aria-hidden="true")
        div.logo
          img(src='img/logo.png')
        nav.top-menu
          li.top-menu__item: a(href="my-tests.html") Затестим
          li.top-menu__item: a(href="my-tests.html") Обо мне
        div.main-search
          button.main-search__btn: Поиск
    
          
     script(src="src/libs/jquery/dist/jquery.min.js")
     script(src="src/libs/bootstrap/dist/js/bootstrap.min.js")    
  
  
