@import 'components/variables';

.main-head {
  background-color: $header-color;
  height: 80px;
}

.logo {
  float: left;
  line-height: 80px;
  margin-left: 40px;
}

.top-menu {
  display: inline-block;
  line-height: 80px;
  margin-left:60px;

  &__item {
    display: inline-block;
  }
}

.sub-menu-btn {
  width:80px;
  height: 80px;
  background-color: $main-green;
  float: left;
  margin-left:-80px;
  font-size: 28px;
  text-align: center;
  line-height: 80px;

  &__icon {
    color: #fff;
  }
}
