@import 'components/variables';
@import 'components/mixins';
@import 'components/fonts';
@import 'components/header';
@import 'components/about_short';
@import 'components/random-recipe';
@import 'components/my-recipes';
@import 'components/footer';
@import 'components/dropdown-main-menu';
@import 'components/bread-crumbs';
@import 'components/one-recipe-content';
@import 'components/one-recipe-sidebar';
@import 'components/one-recipe-footer';
@import 'components/share-btn-section';
@import 'components/comments';
@import 'components/about-me';
@import 'components/popup';


// Global settings

body {
  min-width: 320px;
  @include proxima-r;
}

h3 {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

//Customization gutters

.gutter-0.row {
  margin-right: 0;
  margin-left: 0;
  }
.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"]{
  padding-right: 0;
  padding-left: 0;
}

// Debug
.db {
  outline: 1px solid red;
}

// .row {
//   outline: 1px solid red;
//   //padding: 2px;
// }
//
// .row > [class^="col-"] {
//   outline: 1px solid green;
//
// }
//
// div {
//   outline: 1px solid orange;
// }

// stickyBlock

.sticky {
  position: fixed;
  z-index: 101;
}
.stop {
  position: relative;
  z-index: 101;
}
