@import 'components/variables';
@import 'components/fonts';

body {
  background-color: white;
}

.main-head {
  background-color: $header-color;
  height: 80px;
}

.logo {
  float: left;
  line-height: 80px;
  margin-left: 40px;
}

.top-menu {
  display: inline-block;
  line-height: 80px;
  margin-left:60px;

  &__item {
    display: inline-block;
    font-family: 'ProximaNova-Regular', Helvetica, sans-serif;
    font-size: 18px;
    margin-right: 30px;

    a:link {
      color: $logo-color;
      text-decoration: none;
    }
  }
}

.main-search {
  float:right;

  line-height: 80px;

  button.main-search__btn {
    font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
    color: $logo-color;
    border: none;
    outline:none;
    background: none;
    cursor: pointer;
    font-size: 18px;

    &:before {
      font-family: 'FontAwesome';
      content: "\f002";
      margin-right: 17px;
      color: $gray;
    }
  }
}

.sub-menu-btn {
  width:80px;
  height: 80px;
  background-color: $salat-green;
  float: left;
  margin-left:-80px;
  font-size: 28px;
  text-align: center;
  line-height: 80px;

  &__icon {
    color: #fff;
  }
}
